<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>

    <add key="DSN" value="Data Source=database,port;Initial Catalog=dbname;User ID=userid;Password=password"/>
    <add key="Port" value="23444"/>
    <add key="PortType" value="UDP"/>
    <add key="ClearRecordsOnConnect" value="True"/>

  </appSettings>
</configuration>